#gameboard{
height: 500px;
width: 700px;
/* background-color: black; */
position: relative;
border: darkgrey;
background-image: url('коз.png');

}
#platform {
    height: 25px;
    width: 80px;
    background-color: blue;
    position: absolute;
    border-radius: 15px;
    /* top: 15%s; */
    left: 40%;
    margin-top: 65%;

}
#ball {
    margin-top: 20px;
    margin-left: 20px; 
    height: 20px;
    width: 20px;
    border: black;
    border-radius: 50%;
    background-color: crimson;
    position: absolute;

}
.brick {
    position: absolute;
    width: 50px;
    height: 25px;
    /* background-color: green; */
    background-image: url('кирпичик.png');
    border: 1px solid black;
 }
